{% extends "posts/base.html" %}

{% block content %}
    {% load staticfiles %}
    <!-- USER PROFILE: AVATAR AND NAME -->
    <div class="row">
        <div class="ag_posts_wrapper col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="row ag_profile_parralax" style="background-image: url('{% static 'posts/img/parallax/parallax2.jpg' %}');">
                <div class="col-md-12 col-sm-12 ag_user_profile_info_block">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 info_block_avatar">
                            <div class="info_block_avatar_radius">
                                <div class="info_block_avatar_image">
                                    {% if user.profile.avatar %}
                                        <img src="{{ user.profile.avatar.url }}" alt="User Image" />
                                    {% else %}
                                        <img src="{% static 'posts/img/favicon/fav.png' %}" alt="User Image" />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 info_block_user_name">
                            <span>{{ user.get_full_name|title }}</span>
                        </div>
                    </div>

                    {% if user.username != request.user.username %}
                        {% include "profiles/snippet/follow_form.html" with username=user.username is_following=is_following %}
                    {% endif %}

                </div>
            </div>

            <!-- Search form -->
            <!--<form class="form" method="GET" action="" class="ag_form_profile_user_search">
                <input type="text" placeholder="Search..." name="q" value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-default" type="submit">Submit</button>
            </form>-->


        </div>
    </div>

    <!-- USER POSTS -->
    <div class="row">
        <div class="ag_profile_block_posts_by_user col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="ag_profile_block_posts_title">
                POSTS POR {{ user.username|upper }}
            </div>
        </div>
    </div>

    {% if settings %}
        {% for post in settings %}
            <div class="row">
                <div class="ag_profile_block_posts_by_content col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <div class="ag_profile_block_posts_by_content_inner">
                        {% if post.image %}
                            <div style="background-image: url('{{ post.image.url }}');" class="ag_prof_inner_image"></div>
                        {% endif %}
                        <div class="ag_prof_inner_content">
                            <div class="ag_prof_inner_title_post">
                                {{ post.title }}
                            </div>
                            <div class="ag_prof_inner_content_post">
                                {{ post.content|truncatewords:20|safe }}
                            </div>
                            <a class="ag_prof_inner_link" href="{{ post.get_absolute_url }}"></a>
                            <div class="ag_prof_inner_user_options">
                                <div class="user_options_like_comment">
                                    <div class="user_options_del_edit">
                                        <div class="user_opt_likes">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                            <span class="ag_div_likes_number">1</span>
                                        </div>
                                        <div class="user_opt_comments">
                                            <img class="ag_posts_comment_image" src="{% static 'posts/img/icons/comment.png' %}" alt="Post comments image" />
                                            <span>2</span>
                                        </div>
                                    </div>
                                </div>
                                {% if user.username == request.user.username %}
                                    <div class="user_options_del_edit">
                                        <div class="user_opt_edit">
                                            <a href="{% url "posts:edit_post" slug=post.slug %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="user_opt_del">
                                            <a href="{% url "posts:delete_post" slug=post.slug %}"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="ag_profile_block_posts_by_content col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="ag_profile_block_posts_by_content_inner">
                    {% if user.username == request.user.username %}
                        <a href="{% url 'posts:new_post' %}">
                            <i class="fa fa-plus-circle"></i>
                            ESCRIBE UN POST
                        </a>
                    {% else %}
                        Este usuario no ha escrito aún ningún post. 
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

