/* Mixin para la transicion del div de cada post */
/* RESET CSS */
* {
  margin: 0;
  padding: 0; }

/* BODY */
body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #ecf0f1;
  line-height: 20px; }
  body .webapp-content {
    font-style: inherit;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 100%;
    text-rendering: optimizeLegibility; }
    body .webapp-content a {
      text-decoration: none;
      cursor: pointer;
      color: #00b5e2;
      background-color: transparent; }

/* POSTS */
.posts_wrapper {
  background-color: #fff; }
  .posts_wrapper .post_article {
    display: flex;
    border-bottom: solid 1px #eaeaea;
    transition: opacity .5s;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial; }
    .posts_wrapper .post_article .post_left .ag_post_avatar {
      width: 40px;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      height: 40px; }
      .posts_wrapper .post_article .post_left .ag_post_avatar .ag_post_avatar_img {
        position: absolute;
        border-radius: 50%;
        left: 0;
        top: 10px;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50%; }
    .posts_wrapper .post_article .post_right {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      /* Header from post */
      /* Body from post */ }
      .posts_wrapper .post_article .post_right .post_header {
        padding-top: 5px;
        font-weight: 500;
        color: #666; }
        .posts_wrapper .post_article .post_right .post_header .post_user_name {
          font-weight: 600; }
          .posts_wrapper .post_article .post_right .post_header .post_user_name:hover {
            text-decoration: underline; }
        .posts_wrapper .post_article .post_right .post_header .post_createdAt {
          color: #798185;
          margin-bottom: 0;
          margin-top: 2px;
          font-size: 12px; }
      .posts_wrapper .post_article .post_right .post_body .post_link_content {
        text-decoration: none; }
        .posts_wrapper .post_article .post_right .post_body .post_link_content .row {
          margin-left: 0;
          margin-right: 0; }
        .posts_wrapper .post_article .post_right .post_body .post_link_content h5 {
          margin: .7em 0 .4em;
          font-size: 16px;
          font-weight: bold;
          font-family: inherit;
          line-height: 1.3;
          color: #404040; }
        .posts_wrapper .post_article .post_right .post_body .post_link_content .post_content {
          word-break: break-word;
          color: #666;
          line-height: 22px; }
        .posts_wrapper .post_article .post_right .post_body .post_link_content .post_image_div {
          width: 60%;
          height: 200px;
          margin-top: 1em;
          margin-bottom: 1em; }

/* Navbar Logo */
.navbar-brand .brand_logo_avatar {
  height: 19px;
  width: 150px;
  background-size: 100% 100%; }

/*# sourceMappingURL=base.css.map */
