// Variables
$body_background_color: #ecf0f1;
$posts_wrapper_background_color: #fff;

// Body
body {
  padding: {
    top: 70px;
    bottom: 30px;
  }

  background-color: $body_background_color;
}

//Posts
.posts_wrapper {
  background-color: $posts_wrapper_background_color;

  .post_article {
    border: 0.1px solid #e9eaec;
  }

  .post_left {
  }
}