// Variables
$body_background_color: #e9eaec;
$posts_wrapper_background_color: #fff;

// Mixins
  /* Mixin para la transicion del div de cada post */
@mixin post-div-transition {
    transition: opacity .5s;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
}

/* RESET CSS */
*
{
    margin: 0;
    padding: 0;
}
html {
  font: {
    family: sans-serif;
    size: 100%;
  }
}
/* BODY */
body {
  background-color: $body_background_color;
  line-height: 20px;
  color: #333;

  padding: {
    top: 70px;
    bottom: 30px;
  }

  font: {
    family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    size: 14px;
  }

  /* Div contentedor del contenido de la Web */
  .ag_webapp_content {
    font: {
      style: inherit;
      family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
      size: 100%;
      weight: 400;
    }

    text-rendering: optimizeLegibility;
    vertical-align: baseline;
    * { box-sizing: border-box; }

    a {
      text-decoration: none;
      cursor: pointer;
      color: #00b5e2;
      background-color: transparent;
    }
  }
}

/* POSTS */
.ag_posts_wrapper {
  background-color: $posts_wrapper_background_color;

  .ag_post_article {
    display: flex;
    border-bottom: solid 1px #eaeaea;
    @include post-div-transition;

    .ag_post_left {

      .ag_post_avatar {
        width: 40px;
        border-radius: 50%;

        display: inline-block;
        position: relative;
        height: 40px;

        .ag_post_avatar_img {
          position: absolute;
          border-radius: 50%;
          left: 0;
          top: 10px;
          width: 100%;
          height: 100%;

          background : {
            size: cover;
            position: 50%;
          }
        }
      }
    }

    .ag_post_right {
      display: flex;
      flex-direction: column;
      flex: {
        grow: 1;
        shrink: 1;
      }

      /* Header from post */
      .ag_post_header {
        padding-top: 5px;
        font-weight: 500;
        color: #666;

        .ag_post_user_name {
          font-weight: 600;
          &:hover { text-decoration: underline; }
        }

        .ag_post_createdAt {
          color: #798185;
          margin: {
            bottom: 0;
            top: 2px;
          }
          font-size: 12px;
        }
      }

      /* Body from post */
      .ag_post_body {
        .ag_post_link_content {
          text-decoration: none;

          .row {
            margin: {
              left: 0; right: 0;
            }
          }

          /* Post Title */
          .ag_post_title {
            margin: .7em 0 .4em;
            font: {
              size: 16px;
              weight: bold;
              family: inherit;
            }
            line-height: 1.3;
            color: #404040;
          }

          /* Post Content */
          .ag_post_content {
            word-break: break-word;
            color: #666;
            line-height: 22px;
            margin-right: 15px;
          }

          /* Post Image */
          .ag_post_image_div {
            display: flex;
            width: 60%;
            height: 200px;
            margin: {
              top: 1em;
              bottom: 1em;
            }
          }
        }
      }

      /* Footer from Post */
      .ag_post_footer {
        margin: {
          top: .5em;
          bottom: 6px;
        }
        padding: .6em 0;
        display: flex;
        align-items: center;

        .ag_post_likes {
          &:hover { box-shadow: 0 4px 10px rgba(0,0,0,0.1) !important; cursor: pointer; }
          font-size: 14px;
          height: 30px;
          min-height: 0;
          padding: 5px 12px;
          border-radius: 100px;
          background: #fff;
          color: #ff6671;
          border: 1px solid #ff6671;
          text-shadow: none;
          box-shadow: none;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .1s ease-out;
          text-decoration: none;
          text-transform: uppercase;

          .ag_div_likes_number {
            margin-left: 4px;
            color: #666;
          }

          .fa {
            display: inline-block;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
        }

        .ag_post_comments {
          opacity: .8;
          color: #999;
          margin-left: 1.5em;
          display: flex;
          align-items: center;

          &:hover {
            opacity: 1;
            cursor: pointer;
          }

          .ag_posts_comment_image {
            margin-right: 6px;
            height: 20px;
          }
        }
      }
    }
  }
}

/* Navbar Logo */
.navbar-brand {
  .brand_logo_avatar {
    height: 19px;
    width: 150px;
    background: {
      size: 100% 100%;
    }
  }
}

/* Up down navbar */
.navbar {
  transition: top 0.2s ease-in-out;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}

.nav-up {
    top: -60px;
}

/* Pagination Styles */
.ag_pagination {
  display: inline-block;
  padding: 0 15px;

  .step-links {
    display: inline-block;

    .current, a {
      outline: none;
      display: inline-flex;
      border-radius: 2px;
      border: 1px solid transparent;
      padding: .5em .85em;
      margin: 0 .15em;
      border-color: #e5e5e5;
      background: #fff;
      text-decoration: none;
    }
  }
}

/* Post details */
.ag_post_article_detail {
  background-color: #fff;
  font-family: 'Open Sans',sans-serif;
  letter-spacing: .1px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  /* Header of detail post */
  .ag_article_header {
    margin: {
      bottom: .5em;
      top: 2em;
    }

    .ag_article_name_poster {
      flex: 1;
      display: flex;

      a {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-family: 'Open Sans',sans-serif;
        margin-top: 1em;
        color: #4b4b4b;

        .ag_article_avatar_image_user {
          width: 30px;
          height: 30px;
          margin-right: .8em;
          display: inline-block;
          position: relative;

          .ag_article_div_image {
            position: absolute;
            border-radius: 50%;
            left: 0;
            top: 0;
            background-size: cover;
            background-position: 50%;
            width: 100%;
            height: 100%;
          }
        }

        &:hover { color: #00b5e2; text-decoration: underline;}
      }
    }

    h1 {
      margin-top: .2em;
      color: #333;
      font-weight: bold;
      font-size: 50px;
    }

    @media screen and (max-width: 766px) {
        h1{
            font-size: 25px;
        }
    }

    .ag_article_header_pub_date {
      margin-bottom: .4em;
      align-items: center;
      justify-content: space-between;

      .ag_article_timestamps {
        .ag_pub_date {
          color: #80888a;
          margin-right: 1em;
        }

        .ag_upadted_at {
          color: rgba(128,136,138,0.6);
        }
      }
    }
  }

  /* Image of detail post */
  .ag_article_image_wrapper {
    max-width: 900px;
    height: 300px;
    margin-bottom: 1em;
    align-items: center;
    overflow: hidden;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (max-width: 766px) {
      .ag_article_image_wrapper{
          margin-top: 20px;
          height: 200px;
      }
  }

  /* Content wrapper */
  .ag_article_content_wrapper {
    margin: {
      bottom: 10px;
    }
  }
}

/* Login */
.ag_auth_page_login {
  width: 95%;
  margin: auto;
  max-width: 380px;
  text-align: center;
  padding-top: 30px;
  font-size: 14px;

  /* Login form */
  .ag_form_auth_login {
    display: block;
    margin-top: 0em;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    padding: 2.9em 2.5em 1.7em 2.5em;

    /* Form login error messages div */
    .ag_form_login_message_error {
      color: #ff7142;
      background-color: #fff5f2;
      border-radius: 3px;
      display: flex;
      align-items: center;
      min-height: 50px;
      padding: 6px 25px 6px 15px;
      margin-bottom: 10px;
    }

    /* Input divs blocks */
    .ag_form_block_input {
      margin-bottom: 10px;

      .ag_form_inner_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        .ag_input_form_login {
          border: solid 1px #e6e6e6;
          width: 100%;
          border-radius: 3px;
          padding: .8em 1.1em;
          font-size: 16px;

          &:focus {
            border: solid 1px #00b5e2;
          }
        }

        /* Small error inputs */
        .ag_error_message_inputs_username_login,
        .ag_error_message_inputs_password_login {
          font-size: 1em;
          text-align: left;
          color: #ff7142;
          margin-bottom: 3px;
        }
      }
    }

    /* Forget Password */
    .ag_login_form_options {
      text-align: right;
      margin-bottom: 20px;

      a {
        color: #00b5e2;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    /* Login Button */
    .ag_login_form_submit_button {
      width: 100%;
      font-weight: bold;
      margin-bottom: 30px;
      padding: 16px;
      text-transform: none;
      height: 50px;
      color: #fff;
      background: #2c3e50;
      border-radius: 3px;
      text-align: center;
      outline: none;
      cursor: pointer;
      display: inline-block;
      font-size: 1em;
      line-height: 1;
      border: none;
      text-shadow: none;
      letter-spacing: 0;

      &:active { background: #2c3e50; box-shadow: none; text-decoration: none; }
      &:hover  { background: #253350; box-shadow: none; text-decoration: none; }
    }

    /* Sign Up Hint */
    .ag_auth_page_singup_hint {
      color: #666;

      .ag_auth_page_signup_button {
        margin-left: 5px;
        color: #00b5e2;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Register */
.ag_auth_page_register {
  width: 95%;
  margin: auto;
  max-width: 380px;
  text-align: center;
  padding-top: 30px;
  font-size: 14px;

  /* Register Form */
  .ag_form_auth_register {
    display: block;
    margin-top: 0em;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    padding: 2.9em 2.5em 1.7em 2.5em;

    /* Form register error messages div */
    .ag_form_login_message_error {
      color: #ff7142;
      background-color: #fff5f2;
      border-radius: 3px;
      display: flex;
      align-items: center;
      min-height: 50px;
      padding: 6px 25px 6px 15px;
      margin-bottom: 10px;
    }

    /* Input divs blocks */
    .ag_form_block_input {
      text-align: left;
      margin-bottom: 1em;

      .ag_form_inner_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        .ag_input_form_register {
          border: solid 1px #e6e6e6;
          width: 100%;
          border-radius: 3px;
          padding: .8em 1.1em;
          font-size: 16px;

          &:focus {
            border: solid 1px #00b5e2;
          }
        }
      }

      label {
        color: #999;
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 5px;
        display: block;
        cursor: pointer;

        .ag_label_span_required {
          color: #666;
          font-size: .85em;
          margin-left: 5px;
        }
      }
    }

    /* Register Button */
    .ag_register_form_submit_button {
      width: 100%;
      font-weight: bold;
      margin-bottom: 30px;
      padding: 16px;
      text-transform: none;
      height: 50px;
      color: #fff;
      background: #2c3e50;
      border-radius: 3px;
      text-align: center;
      outline: none;
      cursor: pointer;
      display: inline-block;
      font-size: 1em;
      line-height: 1;
      border: none;
      text-shadow: none;
      letter-spacing: 0;

      &:active { background: #2c3e50; box-shadow: none; text-decoration: none; }
      &:hover  { background: #253350; box-shadow: none; text-decoration: none; }
    }

    /* Login Hint */
    .ag_auth_page_login_account_hint {
      color: #666;

      .ag_auth_page_login_button {
        margin-left: 5px;
        color: #00b5e2;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.ag_webapp_content input[type="text"],
.ag_webapp_content input[type="password"],
.ag_webapp_content input[type="email"]{
  &:required {
    box-shadow: none;
  }

  margin: 0;
  color: #555;
  transition: all .4s ease-out;
  outline: none;
  height: auto;
  line-height: initial;
  background: #fff;
  min-width: 120px;
  max-width: 100%;
}

/* Navbar Search Form */
.ag_wrapper_general_form_search {
  .search_form_navbar { margin-top: 5%; height: 30px; }
  .search_form_navbar input[type=text] {
    height: 100%;
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    font-size: 16px;
    width: 130px;
    box-sizing: border-box;
    background-color: white;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

    &:focus {
      border: solid 1px #00b5e2;
      width: 100%;
    }
  }
}

/* Reset password */
.ag_wrapper_form_reset_password {
  width: 95%;
  margin: auto;
  max-width: 380px;
  text-align: center;
  padding-top: 30px;
  font-size: 14px;

  /* Reset Form */
  .form_reset_password {
    display: block;
    margin-top: 0em;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    padding: 2.9em 2.5em 1.7em 2.5em;

    /* Input divs blocks */
    .ag_form_block_input {
      text-align: left;
      margin-bottom: 1em;

      .ag_form_inner_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        .ag_input_form_register {
          border: solid 1px #e6e6e6;
          width: 100%;
          border-radius: 3px;
          padding: .8em 1.1em;
          font-size: 16px;

          &:focus {
            border: solid 1px #00b5e2;
          }
        }
      }
    }

    label {
      color: #999;
      font-size: 12px;
      line-height: 1.5;
      margin-bottom: 5px;
      display: block;
      cursor: pointer;
    }

    /* Register Button */
    .ag_register_form_submit_button {
      width: 100%;
      font-weight: bold;
      margin-bottom: 30px;
      padding: 16px;
      text-transform: none;
      height: 50px;
      color: #fff;
      background: #2c3e50;
      border-radius: 3px;
      text-align: center;
      outline: none;
      cursor: pointer;
      display: inline-block;
      font-size: 1em;
      line-height: 1;
      border: none;
      text-shadow: none;
      letter-spacing: 0;

      &:active { background: #2c3e50; box-shadow: none; text-decoration: none; }
      &:hover  { background: #253350; box-shadow: none; text-decoration: none; }
    }
  }
}

/* Password reset done */
.ag_wrapper_form_reset_password {
  width: 95%;
  margin: auto;
  max-width: 380px;
  text-align: center;
  padding-top: 30px;
  font-size: 14px;

  .ag_wrapper_form_reset_password_done, .form_reset_password {
    display: block;
    margin-top: 0em;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    padding: 2.9em 2.5em 1.7em 2.5em;

    /* Form register error messages div */
    .ag_form_login_message_error {
      color: #ff7142;
      background-color: #fff5f2;
      border-radius: 3px;
      display: flex;
      align-items: center;
      min-height: 50px;
      padding: 6px 25px 6px 15px;
      margin-bottom: 10px;
    }

    /* Input divs blocks */
    .ag_form_block_input {
      text-align: left;
      margin-bottom: 1em;

      .ag_form_inner_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
      }
    }

    /* Button */
    a {
      margin-top: 10px;

      .ag_register_form_submit_button {
        width: 100%;
        font-weight: bold;
        margin-bottom: 5px;
        padding: 16px;
        text-transform: none;
        height: 50px;
        color: #fff;
        background: #2c3e50;
        border-radius: 3px;
        text-align: center;
        outline: none;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        line-height: 1;
        border: none;
        text-shadow: none;
        letter-spacing: 0;

        &:active { background: #2c3e50; box-shadow: none; text-decoration: none; }
        &:hover  { background: #253350; box-shadow: none; text-decoration: none; }
      }
    }
  }
}

/* User profile info block */
.ag_profile_parralax {
  /* Parallax effect */
  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .ag_user_profile_info_block {
    padding: 50px 0 80px;
    text-align: center;

    .row { text-align: center; margin: 0 auto; }

    .info_block_avatar {
      .info_block_avatar_radius {
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;

        .info_block_avatar_image {
          width: 140px;
          height: 140px;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .info_block_user_name {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: solid 1px transparent;
      padding: 20px 40px 8px;
      font-size: 28px;
      font-weight: bold;
      line-height: 1.07;
      color: #fff;
    }

    .block_user_follow {
      padding-top: 25px;
      display: flex;
      justify-content: center;

      .block_inner_following {
        padding: 10px 20px;
        font-size: 13px;
        line-height: 13px;
        margin: 0 10px;
        background: transparent;
        color: #00b5e2;
        border: 1px solid #00b5e2;
        border-radius: 3px;
        text-shadow: none;
        box-shadow: none;
        text-align: center;
        outline: none;
        cursor: pointer;
        display: inline-block;
        text-transform: capitalize;
        letter-spacing: 0;

        &:hover {
          background: transparent;
          color: #00a3cb;
          border: 1px solid #00a3cb;
        }

        &:active {
          background: #00b5e2;
          border: 1px solid #00b5e2;
          color: #fff;
        }
      }

      .block_inner_unfollow {
        padding: 11px 20px;
        font-size: 13px;
        line-height: 13px;
        margin: 0 10px;
        color: #fff;
        background: #00b5e2;
        border-radius: 3px;
        text-align: center;
        outline: none;
        cursor: pointer;
        display: inline-block;
        border: none;
        text-transform: capitalize;
        text-shadow: none;
        letter-spacing: 0;

        &:active {
          padding: 10px 20px;
          background: transparent;
          color: #00b5e2;
          border: 1px solid #00b5e2;
        }

        &:hover {
          background: #00a3cb;
          box-shadow: none;
          text-decoration: none;
          color: #fff;
          border-color: #204d74;
        }
      }
    }
  }
}

/* Posts by user */
.ag_profile_block_posts_by_user {
  padding: 30px 0 0 0;

  .ag_profile_block_posts_title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: .9px;
    color: #333;
    padding-bottom: 20px;
  }
}
.ag_profile_block_posts_by_content {
    position: relative;
    padding: {
      left: 0; right: 0;
    }

  .ag_profile_block_posts_by_content_inner {
    padding: 25px 30px;
    display: flex;
    margin-bottom: 10px;
    position: relative;
    border-radius: 2px;
    background-color: #fff;
    border: solid 1px #e5eaea;

    a {
      flex: none;
      padding: 0;
      margin-left: 0;
      color: #00b5e2;
      font-size: 14px;
      cursor: pointer;
      font-weight: bold;
      display: inline-block;

      i {
        font-size: 14px;
        margin-right: 8px;
      }
    }

    .ag_prof_inner_image {
      width: 120px;
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      margin-right: 30px;
    }

    @media (max-width: 770px) {
        .ag_prof_inner_image {
          display: none;
        }
    }

    .ag_prof_inner_content {
      flex: 1;
      min-height: 120px;
      display: flex;
      flex-direction: column;

      .ag_prof_inner_title_post {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.3;
        color: #333;
        margin-bottom: 10px;
      }

      .ag_prof_inner_content_post {
        font-size: 12px;
        line-height: 1.67;
        color: #666;
        flex: 1;
        margin-top: 5px;
        margin-bottom: 20px;
      }

      @media (max-width: 770px) {
          .ag_prof_inner_content_post {
            display: none;
          }
      }

      .ag_prof_inner_link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      .ag_prof_inner_user_options {
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 1;

        .user_options_like_comment {
          flex: 1;

          .user_opt_likes {
            i {
              color: #f66;
              margin-right: 5px;
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
            }

            span {
              text-align: right;
              font-size: 13px;
              line-height: 1.38;
              color: #333;
            }
          }

          .user_opt_comments {
            display: flex;
            align-items: center;
            margin-left: 1em;

            img {
              margin-right: 5px;
              width: 15px;
            }

            span {
              text-align: right;
              font-size: 13px;
              line-height: 1.38;
              color: #333;
            }
          }
        }

        @media (max-width: 767px) {
          .user_options_like_comment {
              display: none;
           }
        }

        .user_options_del_edit {
          text-align: right;
          font-size: 13px;
          line-height: 1.38;
          color: #333;
          display: flex;
          align-items: center;

          .user_opt_del {
            align-items: center;
            display: flex;
            width: 15px; height: 15px;
            text-align: center;
            margin-left: 1em;
            a {color: #000;}
            i {font-size: 20px;}
          }

          .user_opt_edit {
            align-items: center;
            display: flex;
            width: 15px; height: 15px;
            a {color: #000;}
            i {font-size: 15px;}
          }
        }

        @media (max-width: 770px) {
            .user_options_del_edit {
              margin-top: 10px;
            }
        }
      }
    }
  }
}

/* Create post */
.ag_create_post_wrapper {
  /* Create post errors */
  .ag_form_login_message_error {
    color: #ff7142;
    background-color: #fff5f2;
    border-radius: 3px;
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 6px 25px 6px 15px;
    margin-bottom: 10px;
  }

  .title-create_post {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .image-preview {
    margin-bottom: 20px;

    .image-preview-input {
      position: relative;
      overflow: hidden;
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
          touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;

      &:focus,
      &:active:focus,
      &.active:focus,
      &.focus,
      &:active.focus,
      &.active.focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
      }

      &:hover,
      &:focus,
      &.focus {
        color: #333;
        text-decoration: none;
      }
      &:active,
      &.active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      }

      .image-preview-input-title {
        margin-left:2px;
      }

      input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
  }

  .image-preview-btn-defautl {
    color: #333;
    background-color: #fff;
    border-color: #ccc;

    &:focus,
    &.focus {
      color: #333;
      background-color: #e6e6e6;
      border-color: #8c8c8c;
    }
    &:hover {
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad;
    }
    &:active,
    &.active,
    &:active:hover,
    &.active:hover,
    &:active:focus,
    &.active:focus,
    &:active.focus,
    &.active.focus,
    &:active,
    &.active,
    &.disabled:hover,
    &[disabled]:hover,
    fieldset[disabled] &:hover,
    &.disabled:focus,
    &[disabled]:focus,
    fieldset[disabled] &:focus,
    &.disabled.focus,
    &[disabled].focus,
    fieldset[disabled] &.focus {
      background-color: #fff;
      border-color: #ccc;
    }
    & .badge {
      color: #fff;
      background-color: #333;
    }
  }

  .button_submit_create_form {
    width: 100%;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 16px;
    text-transform: none;
    height: 50px;
    color: #fff;
    background: #2c3e50;
    border-radius: 3px;
    text-align: center;
    outline: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    border: none;
    text-shadow: none;
    letter-spacing: 0;

    &:active { background: #2c3e50; box-shadow: none; text-decoration: none; }
    &:hover  { background: #253350; box-shadow: none; text-decoration: none; }
  }
}

/* Navbar line-divider */
.nav .divider-vertical {
    height: 30px;
    border-left: 1px solid #f2f2f2;
    float: left;
    margin: 15px 15px;
}
@media (max-width: 767px) {
    .nav .divider-vertical {
        display: none;
     }
}

/* Update post image file */
.ag_create_post_wrapper {
  .update_file_image_div {
    margin-bottom: 25px;

    a {
      display: block;
    }

    #image-clear_id {
      margin-right: 5px;
    }
  }
}

