{% load staticfiles %}
{% if comments.count > 0 %}
{% for comment in comments %}

    <div class="article_comments_comments">
        <a href="{% url 'profiles:user_profile' username=comment.user.username %}">
            <div class="comment_comment_avatar">
                <div class="comment_comment_avatar_image" style="{% if comment.user.profile.avatar %}background-image: url('{{ comment.user.profile.avatar.url }}');{% else %}background-image: url('{% static 'posts/img/favicon/fav.png' %}');{% endif %}">
                </div>
            </div>
        </a>

        <!-- Body comment -->
        <div class="article_comments_comments_body">
            <div class="article_comments_comments_body_container">
                <div class="article_comments_comments_body_info">
                    <div class="comment_name_user">
                        <a href="{% url 'profiles:user_profile' username=comment.user.username %}">{{ comment.user.get_full_name|title }}</a>
                    </div>
                    <div class="comment_timestamp">{{ comment.created|timesince }}</div>
                </div>

                <div>
                    <div class="comment_comment_content">
                        <div>
                            <p>{{ comment.contenido|linebreaks|safe }}</p>
                        </div>
                    </div>
                </div>

                <!--
                <div class="article_comments_comments_footer_actions">
                    <div class="footer_action_like">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <div class="count_heart_likes">
                            2
                        </div>
                    </div>
                    <div class="footer_action_reply">
                        Reply
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>

{% endfor %}
{% endif %}