<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top nav-down">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "posts:index" %}">
                {% load staticfiles %}
                <div class="brand_logo_avatar" style="background-image: url('{% static 'posts/img/logo/agor_logo.png' %}');"></div>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if request.path == '/posts/' %}class="active"{% endif %}><a href="{% url 'posts:index' %}">Inicio</a></li>
            </ul>
            <!--<div class="ag_wrapper_general_form_search col-sm-3 col-md-3">
                <form class="search_form_navbar" method="GET">
                    <input style="background-image: url('{% static 'posts/img/icons/searchicon.png' %}');" type="text" class="ag_navbar_search_input" placeholder="Buscar" name="q">
                </form>
            </div>-->
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ request.user.get_full_name|title }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url "profiles:user_profile" username=user.username %}">
                                    Perfil
                                    <i style="float:right;" class="fa fa-user"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Configuración
                                    <i style="float:right;" class="fa fa-cog"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Favoritos
                                    <i style="float:right;" class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="{% url "logout" %}">Salir</a></li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Comparte tus ideas</a>
                    </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>