{% extends "posts/base.html" %}
{% block content %}
    <div class="row">
        <div class="ag_post_article_detail col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <div class="row">
                <div style="border: 2px solid black;" class="ag_article_header col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                    <h1>{{ instance.title }}</h1>
                    <div class="ag_article_header_pub_date">
                        <div class="ag_article_timestamps">
                            <small class="ag_pub_date">Publicado {{ instance.created|date:"M d, Y" }}</small>
                            <small class="ag_upadted_at">Última actualización {{ instance.updated|date:"M d, Y" }}</small>
                        </div>
                    </div>
                </div>
            </div>

            {# Flash messages #}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            {% if instance %}
                <ul>
                    <li></li>
                    <li>{{ instance.content|safe }}</li>
                    <li></li>
                    <li></li>
                </ul>
            {% else %}
                <h2>El objeto no existe</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}