{% extends "posts/base.html" %}

{% block content %}

    <div class="ag_auth_page_register">
        <form class="ag_form_auth_register" action="" method="post">{% csrf_token %}

            {% if form.errors %}
                <div class="ag_form_login_message_error">
                    {% for field in form %}
                        {% if field.errors %}
                            - {{ field.errors|striptags }}<br />
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <p>Are you sure you want to delete "{{ object }}"?</p>
            <div class="ag_form_block_input">
                <div class="ag_form_inner_wrapper">
                    <input class="ag_register_form_submit_button" type="submit" value="Confirm" />
                </div>
            </div>
        </form>
    </div>

{% endblock %}