{% extends "posts/base.html" %}
{% block content %}
    {% load staticfiles %}
    {# Flash messages #}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="ag_post_article_detail col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="ag_article_header col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                    <div class="ag_article_name_poster">
                        <a href="{% url "profiles:user_profile" username=instance.user.username %}">
                            <div class="ag_article_avatar_image_user">
                                <div class="ag_article_div_image" style="{% if instance.user.profile.avatar %}background-image: url('{{ instance.user.profile.avatar.url }}');{% else %}background-image: url('{% static 'posts/img/favicon/fav.png' %}');{% endif %}"></div>
                            </div>
                            {{ instance.user.get_full_name|title }}
                        </a>
                    </div>
                    <h1>{{ instance.title }}</h1>
                    <div class="ag_article_header_pub_date">
                        <div class="ag_article_timestamps">
                            <small class="ag_pub_date">Publicado {{ instance.created|date:"M d, Y" }}</small>
                            <small class="ag_upadted_at">Última actualización {{ instance.updated|date:"M d, Y" }}</small>
                        </div>
                    </div>
                </div>
            </div>

            {% if instance.image %}
                <div class="row">
                    <div class="ag_article_image_wrapper col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                        <a href="{{ instance.image.url }}" class="progressive replace">
                            <img src="{{ instance.image.url }}" class="preview" alt="image" />
                        </a>
                        <!-- <img class="ag_article_img img-small" src="{{ instance.image.url }}" alt="Post detail image" /> -->
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="ag_article_content_wrapper col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                    {{ instance.content|safe }}
                </div>
            </div>

            <!-- FORM FOR COMMENTS -->
            <div class="row">
                <div class="ag_article_comments_wrapper col-xs-8 col-xs-offset-1 col-md-8 col-md-offset-1">
                    <div class="ag_comments_container">
                        <div class="article_comments_thread">
                            <!-- HEAD -->
                            {% if request.user.is_authenticated %}
                                <div class="article_comments_header">
                                    <img src="{% static 'posts/img/icons/comment.png' %}" alt="Post comments image" />
                                    {% with comments.count as total_comments %}
                                        {% if total_comments == 0 %}
                                            Sé el primero en compartir tu opinión
                                        {% else %}
                                            {{ total_comments }} Comentario{{ total_comments|pluralize }}
                                        {% endif %}
                                    {% endwith %}
                                </div>

                                <!-- FORM -->
                                <div class="article_reply_form">
                                    <div class="reply_form_avatar">
                                        <div class="reply_form_avatar_image" style="{% if user.profile.avatar %}background-image: url('{{ user.profile.avatar.url }}');{% else %}background-image: url('{% static 'posts/img/favicon/fav.png' %}');{% endif %}">
                                        </div>
                                    </div>
                                    <div class="reply_form_inputs">
                                        <form method="post">
                                            {% csrf_token %}
                                            <textarea name="contenido" id="id_contenido" required="" placeholder="Deja un comentario" rows="2" maxlength="300"></textarea>

                                            <div class="reply_footer">
                                                <div class="footer_hint">La longitud máxima del comentario es de 300 caracteres</div>
                                                <div class="footer_actions">
                                                    <input class="footer_input_subm disabled_input" type="submit" value="Enviar" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}

                            <!-- USER COMMENTS -->
                            {% include "posts/list_comments_ajax.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Div for likes and comments -->
    <div class="outside_likes_single_post">
        <div class="wrapper_likes_single_post">
            <div class="likes_single_post_engager">
                <div class="engager_avatar_img">
                    <div class="avatar_img_eng" style="{% if instance.user.profile.avatar %}background-image: url('{{ instance.user.profile.avatar.url }}');{% else %}background-image: url('{% static 'posts/img/favicon/fav.png' %}');{% endif %}"></div>
                </div>
                <div class="engager_hint_text">
                    <div class="eng_title">Enjoy this post?</div>
                    <p>Deja un like y un comentario para <strong>{{ instance.user.username|title }}</strong></p>
                </div>
            </div>
            <div class="likes_single_post_action">

                {% with total_likes=instance.users_like.count users_like=instance.users_like.all %}
                    <a href="#" data-id="{{ instance.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like_button">

                        <div class="likes_heart {% if request.user not in users_like %}{% else %}ag_post_likes_active{% endif %}">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <div class="number_likes_post_action">
                                {{ total_likes }}
                            </div>
                        </div>

                    </a>
                {% endwith %}

                <a class="comment_link" href="#id_contenido">
                    <img src="{% static 'posts/img/icons/comment.png' %}" alt="Post comments image" />
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            // When user click on the comment icon show also the submit button for comments
            $(".comment_link").click(function(){
                $(".reply_form_inputs .reply_footer").css("display", "flex");
            });

            $("#id_contenido")
                .click(function() {
                    $(".reply_footer").show();
                    $(".reply_footer").css( "display", "flex" );
                })
                /*.blur(function(){
                    $(".reply_footer").hide();
                })*/
                .keyup(function() {
                    var count = $(this).val().length;
                    count > 0 ? $( ".footer_input_subm" ).removeClass( "disabled_input" ) : $( ".footer_input_subm" ).addClass( "disabled_input" )
            });

            // Ajax LIKES
            $('a.like_button').click(function(e){
                e.preventDefault();
                $.post('{% url "posts:like" %}',
                    {
                        id: $(this).data('id'),
                        action: $(this).data('action')
                    },
                    function(data) {
                        if(data['status'] == 'ok')
                        {
                            var previous_action = $('a.like_button').data('action');

                            //toggle data-action
                            $('a.like_button').data('action', previous_action == 'like' ? 'unlike' : 'like');

                            //toggle link text
                            $('.likes_heart').addClass(previous_action == 'like' ? $('.likes_heart').addClass("ag_post_likes_active") : $('.likes_heart').removeClass('ag_post_likes_active'));

                            //update total likes
                            var previous_likes = parseInt($(".number_likes_post_action").text());
                            $(".number_likes_post_action").text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                            console.log($(".number_likes_post_action").text());
                        }
                    }
                );
            });

            // Ajax pagination comments
            var page = 1;
            var empty_page = false;
            var block_request = false;

            $(window).scroll(function() {
             var margin = $(document).height() - $(window).height() - 200;

             if  ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
                 block_request = true;
                 page += 1;

                 $.get('?page=' + page, function(data) {
                     if(data == '') {
                         empty_page = true;
                     } else {
                         block_request = false;
                         $('.article_comments_thread').append(data);
                     }
                 });
             }
            });
        });
    </script>
{% endblock %}