{% extends "posts/base.html" %}
{% block content %}
    {% load staticfiles %}
    {# Flash messages #}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="ag_post_article_detail col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="ag_article_header col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                    <div class="ag_article_name_poster">
                        <a href="">
                            <div class="ag_article_avatar_image_user">
                                <div class="ag_article_div_image" style="background-image: url('{% static 'posts/img/favicon/fav.png' %}');"></div>
                            </div>
                            {{ instance.user.get_full_name|title }}
                        </a>
                    </div>
                    <h1>{{ instance.title }}</h1>
                    <div class="ag_article_header_pub_date">
                        <div class="ag_article_timestamps">
                            <small class="ag_pub_date">Publicado {{ instance.created|date:"M d, Y" }}</small>
                            <small class="ag_upadted_at">Última actualización {{ instance.updated|date:"M d, Y" }}</small>
                        </div>
                    </div>
                </div>
            </div>

            {% if instance.image %}
                <div class="row">
                    <div class="ag_article_image_wrapper col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                        <a href="{{ instance.image.url }}" class="progressive replace">
                            <img src="{{ instance.image.url }}" height="10px" width="20px" class="preview" alt="image" />
                        </a>
                        <!-- <img class="ag_article_img img-small" src="{{ instance.image.url }}" alt="Post detail image" /> -->
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="ag_article_content_wrapper col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                    {{ instance.content|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}