{% extends "posts/base.html" %}
{% block content %}

    {% load staticfiles %}
    {% load tags %}
    <div class="row">
        <div class="ag_create_post_wrapper col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <form class="form-horizontal" method="post" enctype="multipart/form-data" action="">{% csrf_token %}

                {% if form.errors %}
                    <div class="ag_form_login_message_error">
                        {% for field,error in form.errors.items %}
                            {{ field|capfirst }} - {{ error|striptags }}
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Title -->
                <div class="input-group title-create_post">
                    {{ form.title|htmlattributes:"placeholder: Título, class:form-control" }}
                </div>

                {% if request.path == '/posts/new/' %}
                    <!-- Image -->
                    <div class="input-group image-preview">
                        <input type="text" class="form-control image-preview-filename" disabled="disabled">
                        <span class="input-group-btn">
                            <!-- image-preview-clear button -->
                            <div class="image-preview-input image-preview-btn-defautl image-preview-clear" style="display:none;">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                <span>Clear</span>
                            </div>
                            <!-- image-preview-input -->
                            <div class="image-preview-input image-preview-btn-defautl">
                                <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                                <span class="image-preview-input-title">Browse</span>
                                {{ form.image }}
                            </div>
                        </span>
                    </div>
                {% else %}
                    <div class="input-group update_file_image_div">
                        {{ form.image }}
                    </div>
                {% endif %}

                <!-- Content -->
                <div class="form-group">
                    {{ form.content|htmlattributes:"class:form-control" }}
                </div>

                <input class="button_submit_create_form" type="submit" value="Save Post" />
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'posts/js/file_image.js' %}"></script>
{% endblock %}